.mat-grid-list {
  width: 100%
}
.mat-selection-list {
  width: 100%;
}
.selection-list {
  position: sticky;
  top: 65px;
  z-index: 1;
  background-color: white;
}
.mat-form-field {
  width: 90%;
  padding-left: 15px;
}

.is-side-hidden {
  overflow: hidden;
  width: 0px;
}

.expand_side_button {
  height: 100%;
  width: 30px;
}

@media screen and (min-width: 1280px) {
  .selection-list {
    padding: 20px 0px;
  }
}

@media screen and (max-width: 1280px) {
  .selection-list {
    top: 65px;
    width: 100%;
  }

  .expand_button {
    width: 100%;
    height: 30px;
  }
}

@media screen and (max-width: 600px) {
  .selection-list {
    top: 56px;
  }
}
