<div fxFlex="100" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="space-between start" class="app-container">
  <div class="selection-list mat-elevation-z8">
    <div fxLayout.gt-md="row">
      <div [class.is-side-hidden]="isSideHidden && screenWidth >= 1280" fxFlex.gt-md="100" [hidden]="isHidden && screenWidth < 1280" class="criteria-container">

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Search
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input matInput placeholder="Search" [(ngModel)]="searchInput" (keyup)="addSearchParam()">
            <button mat-button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput = ''; addSearchParam()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Price range
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field class="price-filter-input">
              <input matInput type="number" min="0" placeholder="From" [(ngModel)]="filter.price.fromPrice" (ngModelChange)="updateFromPriceParam()">
              <button mat-button *ngIf="filter.price.fromPrice" matSuffix mat-icon-button aria-label="Clear" (click)="filter.price.fromPrice = ''; updateFromPriceParam()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field class="price-filter-input">
              <input matInput type="number" min="0" placeholder="To" [(ngModel)]="filter.price.toPrice" (ngModelChange)="updateToPriceParam()">
              <button mat-button *ngIf="filter.price.toPrice" matSuffix mat-icon-button aria-label="Clear" (click)="filter.price.toPrice = ''; updateToPriceParam()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Filter by type
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-selection-list #selectedTypes (selectionChange)="navigateByType(selectedTypes.selectedOptions.selected, $event)">
            <mat-list-option value="All" [selected]="isTypeSelected('All')">
              All
            </mat-list-option>
            <mat-list-option *ngFor="let type of types | async" [value]="type.id" [selected]="isTypeSelected(type.id)">
              {{ type.name }}
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </div>

      <div fxHide fxShow.gt-md fxLayout="column" fxLayoutAlign="center center">
        <button *ngIf="!isSideHidden" mat-icon-button (click)="isSideHidden = !isSideHidden; setColumnNo()" class="expand_side_button">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button *ngIf="isSideHidden" mat-icon-button (click)="isSideHidden = !isSideHidden; setColumnNo()" class="expand_side_button">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>

    <div fxShow fxHide.gt-md fxLayout="row" fxLayoutAlign="center center">
      <button *ngIf="!isHidden" mat-button (click)="isHidden = !isHidden" class="expand_button">
        <mat-icon>expand_less</mat-icon>
      </button>
      <button *ngIf="isHidden" mat-button (click)="isHidden = !isHidden" class="expand_button">
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </div>

  <mat-grid-list *ngIf="loaded" #gridList [cols]="columnNo || 1" rowHeight="450px" fxFlex="100" gutterSize="10px">
    <mat-grid-tile *ngFor="let item of items">
      <app-item-card *ngIf="items.length !== 0"
      [data]="item"
      quantity="true"
      (add)="addToCart(item)"
      (remove)="removeFromCart(item)"
      (cardClick)="goToItemPage(item)"></app-item-card>
    </mat-grid-tile>

    <div *ngIf="items.length === 0">
      <strong>No results.</strong>
    </div>
  </mat-grid-list>

  <mat-progress-spinner class="loading-spinner"
    *ngIf="!loaded"
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
