<div fxFlex fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="90" fxFlex.gt-sm="60" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="70px" fxLayoutAlign="space-around center">
    <form #f="ngForm"fxFlex fxLayout="column" fxLayoutAlign="space-between start">
      <div>
        <mat-form-field>
          <input fxFlex matInput type="text" placeholder="Name" [(ngModel)]="accountSettings.name" name="name" #name="ngModel" >
        </mat-form-field>

        <mat-divider></mat-divider>
        <span>Account Address</span>
        <app-address-form [model]="accountSettings.account"></app-address-form>

        <mat-divider></mat-divider>
        <span>Shipping Address</span>
        <app-address-form [model]="accountSettings.shipping"></app-address-form>
      </div>
      <div>
        <button mat-raised-button color="primary" [disabled]="!f.dirty || !f.valid" (click)="submit(f)">Save</button>
      </div>
    </form>
  </div>
</div>


