<div fxFlex="100" fxLayoutAlign="center center" class="app-container">
  <div fxFlex="90" fxFlex.gt-sm="60" fxLayout="column">
    <span class="mat-headline">Order Details</span>
    <mat-tab-group *ngIf="data">
      <mat-tab label="Details" fxLayout="column">
        <mat-form-field fxFlex="100">
          <mat-label>Order date: </mat-label>
          <input matInput type="text" [ngModel]="data.initDate | date : 'short' : '' : config.get('dateFormat')" [disabled]="true">
        </mat-form-field>

        <mat-form-field fxFlex="100">
          <mat-label>Cost: </mat-label>
          <input matInput type="text" [ngModel]="data.cost | currency: config.get('currency')" [disabled]="true">
        </mat-form-field>

        <mat-form-field fxFlex="100" *ngIf="data.shipDate; else notShipped">
          <mat-label>Shipping date: </mat-label>
          <input matInput type="text" [ngModel]="data.shipDate | date : 'short' : '' : config.get('dateFormat')" [disabled]="true" class="order-shipped">
        </mat-form-field>
        <ng-template #notShipped>
          <mat-form-field fxFlex="100">
            <input matInput type="text" placeholder="Not Shipped" [disabled]="true" class="order-not-shipped">
          </mat-form-field>
        </ng-template>

        <button fxFlex="100" fxFlex.gt-sm="25" mat-raised-button color="primary" (click)="setShipped()">Set order as Shipped</button>

      </mat-tab>

      <mat-tab label="Ordered Items">
        <app-enhanced-table class="order-items-table" [columns]="itemsColumns" [rows]="data.items" [displayOnly]="true"></app-enhanced-table>
      </mat-tab>

      <mat-tab label="Shipping">
        <app-address-form [model]="data.shipping" [disabled]="true"></app-address-form>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
