@import 'config/colors.css';

.mat-input-element.order-shipped {
  background-color: var(--success-color);
}

.mat-input-element.order-not-shipped {
  background-color: var(--warn-color);
}

.mat-tab-body {
  margin-top: 40px;
}
