.mat-form-field {
  width: 100%;
}

form {
  height: auto;
}

.mat-raised-button.mat-primary {
  margin-bottom: 10px;
}

.item-image {
  width: 100%;
}

.delete-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ff000040;
  cursor: pointer;
}

.delete-image-icon {
  position: absolute;
  color: white;
  cursor: pointer;
}
