<div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="login-card" fxFlex="80" fxFlex.gt-md="40">
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>Shopping Cart Demo App</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center center">
      <button fxFlex="100" fxFlex.gt-md="40" mat-raised-button color="primary" (click)="socialSignIn()"><mat-icon svgIcon="google_plus_icon"></mat-icon>  Sign in with Google</button>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <span>Work in progress..</span>
    </mat-card-actions>
  </mat-card>
</div>

