<div fxFlex fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="70" fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center stretch">
    <div fxFlex="40">
      <form #f="ngForm"
      fxFlex fxLayout="column" fxLayoutAlign="space-between start">
        <div>
          <mat-form-field>
            <input fxFlex matInput type="text" placeholder="Name" [(ngModel)]="data.name" name="name" #name="ngModel" required>
            <mat-hint *ngIf="name.touched && name.invalid" align="start"><strong class="validation-error">Field is required.</strong> </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Type" [(ngModel)]="data.type" name="type" #type="ngModel" required>
              <mat-option *ngFor="let type of types | async" [value]="type.name">
                {{ type.name }}
              </mat-option>
            </mat-select>
            <mat-hint *ngIf="type.touched && type.invalid" align="start"><strong class="validation-error">Field is required.</strong> </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <span matPrefix>$ &nbsp;</span>
            <input matInput type="number" placeholder="Price" [(ngModel)]="data.price" name="price" step="0.01" #price="ngModel"
            pattern="^\s*(?=.*[0-9])\d*(?:\.\d{1,2})?\s*$" required>
            <mat-hint *ngIf="price.touched && price.invalid" align="start">
              <strong *ngIf="price?.errors.required"  class="validation-error">Field is required.</strong>
              <strong *ngIf="price?.errors.pattern" class="validation-error">Minimum value is 0.</strong>
            </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="url" placeholder="Image URL" [(ngModel)]="data.imageURL" name="imageURL">
            <button mat-button *ngIf="data.imageURL" matSuffix mat-icon-button aria-label="Clear" (click)="data.imageURL=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field>
            <textarea  matInput type="url" placeholder="Description" [(ngModel)]="data.description" name="description"></textarea>
          </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary" [disabled]="!f.dirty || !f.valid" (click)="submit(f)">Save</button>
        </div>
      </form>
    </div>

    <app-item-card [data]="data" (remove)="removeItem()"></app-item-card>
  </div>
</div>


