.carousel-inner {
  height: calc(100vh - 40px);
}
.carousel-item {
  height: calc(100vh - 40px);
}
.carousel-item>img {
  width: 100vw;
}
.carousel-caption {
  background-color: rgba(0,0,0,0.5);
  left: 0;
  right: 0;
  padding: 40px 0;
  bottom: unset;
  top: calc(40vh - 40px);
}
.carousel-caption>* {
  margin: 0 15%;
}
.carousel-control-prev, .carousel-control-next {
  cursor: pointer;
  height: calc(100vh - 90px);
}
.contact-section {
  background-color: rgba(0,0,0,0.5);
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0px;
  padding: 10px 0;
}
.carousel-indicators {
  display: none;
}

@media screen and (max-width: 1500px) {
  .carousel-inner {
    height: calc(100vh - 40px);
  }
  .carousel-item {
    height: calc(100vh - 40px);
  }
  .carousel-item>img {
    width: auto;
  }
  .carousel-caption {
    padding: 15px 0;
  }
  .carousel-caption h1{
    font-size: 1.5rem;
  }
  .carousel-caption h4{
    font-size: 1rem;
  }
  .contact-section span {
    font-size: 0.7rem;
    line-height: 1.5;
  }
  .carousel-control-prev, .carousel-control-next {
    height: calc(100vh - 80px);
  }
}
