<app-main-navbar></app-main-navbar>
<mat-sidenav-container>
  <mat-sidenav mode="over" [(opened)]="sidebarService.isOpened">
    <mat-nav-list>
      <a mat-list-item routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" (click)="sidebarService.toggle()">Home</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="items" routerLinkActive="active-link" (click)="sidebarService.toggle()">Items</a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

