@import 'config/colors.css';

.mat-card {
  width: 260px;
}

.mat-card-image {
  max-width: 308px;
  height: 227px;
}

.item-count>.mat-icon {
  margin-top: 7px;
  vertical-align: bottom;
}

.out-of-stock {
  opacity: 0.5;
}

.out-of-stock-text {
  color: var(--error-color);
}

.d-inline-flex {
  float: right;
  font-size: 20px;
  line-height: 1;
  color: orange;
}
