<mat-card>
  <mat-card-header (click)="clickAction()" [style.cursor]="hasClickFunctionality ? 'pointer' : 'initial'">
    <mat-card-title>{{ data.name }}</mat-card-title>
    <mat-card-subtitle>
      <div *ngIf="data.quantity > 0 && quantity">In stock: {{ data.quantity }}</div>
      <div *ngIf="data.quantity <= 0 && quantity" class="out-of-stock-text">Out of stock</div>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image
    src="{{ data.imageURL || 'assets/images/No_image_available.png' }}"
    [class.out-of-stock]="data.quantity <= 0 && quantity"
    (click)="clickAction()" [style.cursor]="hasClickFunctionality ? 'pointer' : 'initial'">
  <mat-card-content >
    <strong>{{ data.price | currency: config.get('currency'): 'symbol'}}</strong>
    <ngb-rating [(rate)]="avgRating" readonly="true" max="5"></ngb-rating>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
    <div [hidden]="!quantity" fxFlex fxLayout="row" [ngStyle]="{'place-content': (cartItemQuantity | async) > 0 ? 'center space-between' : 'center center'}">
      <button *ngIf="hasRemoveFunctionality && (cartItemQuantity | async)" mat-raised-button color="warn" (click)="removeItem()">Remove</button>
      <div [hidden]="!((cartItemQuantity | async) > 0)" class="item-count">
        <mat-icon>shopping_cart</mat-icon>
        <strong>{{ cartItemQuantity | async }}</strong>
      </div>
      <button [disabled]="data.quantity <=  0" *ngIf="hasAddFunctionality" mat-raised-button color="primary" (click)="addItem()">Add</button>
    </div>
    <div [hidden]="quantity">
      <button *ngIf="hasRemoveFunctionality" mat-raised-button color="warn" (click)="removeItem()">Remove</button>
      <button *ngIf="hasAddFunctionality" mat-raised-button color="primary" (click)="addItem()">Add</button>
    </div>
  </mat-card-actions>
</mat-card>
