@import 'config/colors.css';

.full-width-input {
  width: 100%;
  margin-top: 20px;
}

.filter-input {
  margin-top: 10px;
}

.mat-row.even-row {
  background-color: rgba(0,0,0,.04);
}

.table-edit-button {
  display: flex;
}

.item-image {
  margin: 5px 0;
  vertical-align: middle;
  max-height: 139px;
  max-width: 187px;
  width: 90%;
  border: 2px solid lightgray;
}

.mat-cell, .mat-header-cell {
  text-align: center;
}

.item-quantity {
  width: 60%;
}

.warn {
  color: var(--error-color);
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .mat-cell, .mat-header-cell {
    font-size: 10px;
  }

  .table-edit-button {
    font-size: small;
    padding-left: 0px;
  }
}
