/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import 'config/colors.css';

/* bootstrap overwrite */
.mat-card {
  box-sizing: initial;
}
a:hover {
  color: unset;
  text-decoration: unset;
}
*, button:focus {
  outline:0;
}

body {
  margin: 0px;
  height: 100vh;
}

.mat-snack-bar-container.success {
  background: var(--success-color);
}

.mat-snack-bar-container.error {
  background: var(--error-color);
}

.validation-error {
  color: var(--error-color);
}

