<ngb-carousel>
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="First slide">
    <div class="carousel-caption">
      <h1>Items page</h1>
      <h4>Browse through the existing items, add to the cart and place an order</h4>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Second slide">
    <div class="carousel-caption">
      <h1>Orders page</h1>
      <h4>Browse through the orders placed in the past and check the shipping status</h4>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" alt="Third slide">
    <div class="carousel-caption">
      <h1>Admin sections</h1>
      <h4>Use the admin pages in order to add, edit, delete and view all items, types and orders</h4>
    </div>
  </ng-template>
</ngb-carousel>
<div class="contact-section" fxLayout="column" fxLayoutAlign="center center">
  <span class="mat-caption"><strong >Contact</strong></span>
  <span class="mat-caption">claudiu.gabriel.simon@gmail.com</span>
  <span class="mat-caption">claudiugabriel15@yahoo.com</span>
</div>
